<main class="home">
    <div class="search">
        <div class="search-content">
            <h3 class="title">Gestión Vehículo <br>de Reeplazo</h3>
            <p>Complete estos datos</p>
            <div class="input-group">
                <span></span>
                <input 
                    type="text" 
                    id="txtRut" 
                    placeholder="RUT"
                    name="txtRut"
                    [(ngModel)]="rut"
                >
            </div>
            <span *ngIf="valido" class="validacion">Sin puntos y con guión</span>
            <span *ngIf="!valido" class="validacion alerta">Formato incorrecto</span>
        </div>
        <div class="search-btn">
            <form (ngSubmit)="validarRut()" >
                <button id="btnSearch" class="btn">Buscar</button>
             </form>
        </div>
    </div>
</main>
