<main class="home">
    <div class="search">
        <div class="search-content">
            <h3 class="title">Gestión Vehículo <br>de Reeplazo</h3>
            <p>Complete estos datos</p>
            <div class="input-group">
                <span></span>
                <input type="text" id="txtRut" placeholder="RUT">
            </div>
            <span>Sin puntos y con guión</span>
        </div>
        <div class="search-btn">
            <button id="btnSearch" class="btn">Buscar</button>
        </div>
    </div>
</main>
